*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
   margin: 0px;
}
body{
    direction: rtl;
   font-family: 'Tajawal', sans-serif;
}
.grid-continer{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 200px 400px auto auto;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" 
    "sb sb sb sb sb sb sb sb sb sb sb sb"
    "sec sec sec sec sec sec sec sec sec sec sec sec"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
   
}
.main-continer{
    margin-right: auto;
    margin-left: auto;
    /* width: 100%; */
    padding-left: 40px;
    padding-right: 40px;
}
header{
    grid-area: hd;
    /* background-color: red; */
}
.hd-color{
    background-color:#f9fafc;
}
nav ul{
    
    display: flex;
    /* justify-content: space-between; */
    
}

 @media(min-width:768px){
  nav .toggle-menue{
    display: none;}
}
/* nav ul{
    float:right;
} */
 @media (max-width:767px){
nav ul{
  display: none;}
}  
nav ul li{
    flex:auto;
    /* max-width:20%; */
 list-style: none;
 padding-top: 5px;
 padding-bottom: 5px;
 background-color:#f9fafc;
 border-left: 1px solid #e5e9f2;
 border-bottom: 1px solid #e5e9f2;
}
nav ul li a{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    /* font-size: 15px; */
    color:rgba(66, 82, 110, 1);
    padding: 10px;
    
}
nav ul li a span{
    font-weight:bold ;
}
nav ul li a img{
    width:25px;
    padding: 5px;
}
.nav2{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    /* margin-right: 40px;*/
   margin-top: 20px; 
}
.logo{
    flex-basis: 20%;
    margin-right: 10px;
}
.logo img{
    width:70px;
}
.fa-shopping-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e5e9f2;
    text-align: center;
}
.form-div{
    flex-basis: 60%;
}
.search-form{
    
    background-color:#eff2f7 ;
height: 50px;
    width:100%;
    border: none;
    border-radius: 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.search-form input[type="text"] {
    
    margin-right: 10px;
    border: none;
    background-color:#eff2f7 ;
    font-size: 20px;
    border-radius: 24px;
}
.search-form button{
    padding: 10px;
     margin-left: 10px;
      border: none;
     border-radius: 24px;
}
.search-form button i{
    font-size: 20px;
}
.cart-icon{
    flex-basis: 10%;
    
}
/* end header */
.sidebar{
    grid-area: sb;
   height: auto;
    /* background-color: blueviolet; */
    width: 100%;
}
#slideset1 {
    height: 10em; 
    position: relative;
}

/* #slideset1img{
    width: 100%;
} */
#slideset1 > * {
    visibility: hidden;
     position: absolute;
  top: 0; 
  left: 10%;
   animation: 12s autoplay1 infinite
}
@keyframes autoplay1 {
  0% 
  {
      visibility: visible}
  
  33.33% {
      visibility: hidden}
}
#slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 4s}
#slideset1 > *:nth-child(3) {animation-delay: 8s}
.sec{
    grid-area: sec;
    /* background-color: brown; */
}
/*  */
.ft{
    grid-area: ft;
    
    /* background-color: black; */
    
    /* flex-direction: column; */
}
.ftcontiner{
    /* flex:1; */

}
.ft-color{
    /* flex:1; */
 color: white;
background-color: #333;
}
  .ft-main-item  ul{
    list-style: none;
    padding-left: 0;
}
.ft-main-item  ul li{
    padding: 5px;
}

.ft-main-item a{
    text-decoration: none;
    color: white;
   
}
.ft-title {
    color: #a6a6a6;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #444;
}
.ft-main {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 10px;
    min-width: 160px;
}
.form-continer{
    background-color: #555;
    height: 50%;
    padding:10px;
    border-radius: 10px;
    margin-top: 5px;
}
 
 .ft-main .ft-main-item input[type="email"] {
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    
}
 .ft-main .ft-main-item input[type="submit"] {
     margin-top: 5px;
    padding: 15px;
    color:black;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    
}
.ft-main, .ft-social{
    

}
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social h2 {
    border-bottom: 1px #777 solid; }
.ft-social-list {
    display: flex;
    justify-content: flex-start;
    
    padding-top: 1.25rem;
    
}
.ft-social-list li {
    list-style: none;
    margin: 0.5rem;
    font-size: 1.25rem;
}
.ft-social-list li a img{
    max-width: 35px;
}
.ft-social-list li a{
 text-decoration: none;
    color: white;
}
/*  */
.ft-legal {
   
    padding: 10px;
    background-color: #e6e6e6;
    color: #333;
}
.ft-legal-list {
    
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    list-style: none;
}
.ft-legal-list li a{
    text-decoration: none;
    color: #333; 
}
.brands{
   flex-basis: 60%;  
}

.brands li{
    display: inline-block;
    width: 50px;
    padding-left:30px;
    height: 50px;

}
.brands li img{
    width: 70px;
    height: 40px;
}
.copy{
    flex-basis: 40%;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}
.sm-menue li{
   
 display: inline-block;
 
 /* margin-right: 20px;*/
 padding: 5px;
}
.sm-menue li a{
    text-decoration: none;
    color: black;
}
/* login page */
.model-continer{
  display: flex;
  justify-content: center;
}
#modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Full width */
  height: auto;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal2 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  	z-index: 1080 !important;/* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal2 input {
     width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: none; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
 background-color: #eff2f7;
}
.modal-content{
  text-align: center;
     background-color: #fefefe;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 100%;
  height: 60%;
    /* margin-right: auto;
    margin-left: auto; 
     padding-left: 20px;
    padding-right: 16px; */
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.col-1{    
     padding:10px;
   flex-basis: 100%;
     min-width:600px ;  
}
 .forget{background-color:#eff2f7 ;
height: 50px;
    width:100%;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;}
    .forget p{
    color:#005acf;}
#modal input {
    
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: none; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
 background-color: #eff2f7;
}

/* Style the submit button with a specific background color etc */
#modal input[type=submit] {
  background-color: #d4070e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.txt{
text-align: center;
}
 .modal-content button {
   padding:10px;
     
       background-color: white;
       border: none;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 /* end login */
 /* start signin */


 /*  end signin */